<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountBookServlet</servlet-name>
        <servlet-class>AccountBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>ChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartMapServlet</servlet-name>
        <servlet-class>ChartMapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountBookServlet</servlet-name>
        <url-pattern>/AccountBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/chart.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartMapServlet</servlet-name>
        <url-pattern>/ChartMapServlet</url-pattern>
    </servlet-mapping>
</web-app>
